.buttonWrap {
  width: 400px;
}

.move_testList {

  background-color: white;
}

.testCardWrap {
  width: 100%;
  max-width: 370px;
  display: flex;
  margin: 10px 0 10px 0;
}

.testCardTextWrap {
  width: 235px;
}

.testCardTextWrap>p:first-child {
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
}

.testCardTextWrap p {
  color: #979797;
  font-size: 0.7rem;
}
