.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.button {
  width: 2rem;
  height: 2rem;
  background-color: red;
}

.userInfoWrap {
  width: 370px;
}

.userImg {
  width: 2.5rem;
  height: 2.5rem;
}

.spanWrap {


}

.spanWrap>span:first-child>p {
  color: black;
  font-size: 0.8rem;

}

.spanWrap>span:last-child>p {
  color: #979797;
  font-size: 0.7rem;
  font-weight: 300;
}
