.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.bgWhite {
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.footerWrap {
  width: 400px;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}

.textBox > ul {
  margin-top: 150px;
}
.textBox > ul > li {
  list-style: circle;
}
.textBox p {
  color: black;
  font-size: 0.9rem;
  display: flex;
  font-weight: 400;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
}
.logoImgWrap {
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.logoImgWrap > img {
  width: 12rem;
  height: 5rem;
  margin: 130px 0 20px 0;
}

.logoImgWrap > p {
  color: #979797;
  font-size: 0.7rem;
  margin-bottom: 110px;
}
