.wrap {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 15px 10px 0 0;
}

.commentWrapper {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin: 15px 10px 0 0;
  position: relative;
}

.wrap_comment {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 15px 0 10px 0;
}

.stroke_onTest_top {
  margin-bottom: 0.3rem;
}

.comment_onTest {
  width: 370px;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}

.commentText_onTest {
  color: #8f8f8f;
  font-weight: normal;
  font-size: 14px;
}

.button {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-style: none;
  background-color: white;
}

.count {
  color: #8f8f8f;
  font-weight: normal;

  left: 0.3rem;
  font-size: 14px;
}

.playCnt {
  background-image: url('../../../public/images/buttonSet/playCnt.svg');
}

.likeCnt {
  background-image: url('../../../public/images/buttonSet/likeCnt.svg');
}

.commentCnt {
  background-image: url('../../../public/images/buttonSet/commentCnt.svg');
}

.comment {
  background-image: url('../../../public/images/test/comment.svg');
}

.bookMark {
  width: 2rem;
  height: 2rem;
  background-image: url('../../../public/images/test/bookMark.svg');
}

.liked {
  width: 2rem;
  height: 2rem;
  background-image: url('../../../public/images/test/liked.svg');
}

.noneLiked {
  width: 2rem;
  height: 2rem;
  background-image: url('../../../public/images/test/noneLiked.svg');
}

.share {
  width: 2rem;
  height: 2rem;
  background-image: url('../../../public/images/test/share.svg');
}

.testBtnWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentBtnWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.addCommentButton {
  width: 19px;
  height: 19px;
  background-image: url('../../../public/images/test/addComment.svg');
  background-color: #f1f1f1;
  position: absolute;
  top: 10px;
  right: 10px;
}

.userImg {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 10px;
  border-radius: 15.5px;
  position: absolute;
  left: 0;
  top: 0;
}

.userAndDate {
  width: 255px;
  margin-top: -5px;
  word-wrap: break-word;
}

.modifyArea{
  width: 65px;
}

.modifyWrap{
  display: flex;
  flex-direction: row;
}
.modifyWrap > button {
  background-color: white;
  color: #c3c3c3;
  font-size: 12.5px;
  font-weight: 400;
}
.modifyWrap > button:first-child {
  margin-right: 5px;
}

.stroke {
  width: 370px;
  height: 1px;
  border-bottom: 1px solid #f1f1f1;
  margin: 10px 0 20px 0;
}

.goRandomStartBtn {
  width: 100%;
  max-width: 370px;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 1rem;
  background-color: #ffc52f;
  color: white;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
