@media (max-width: 375px) {
  .wrap {
    width: 375px;
  }

  .footerWrap {
    width: 375px;
  }

  .progressContentWrap {
    width: 375px;
  }
  .progressWrap {
    width: 330px;
  }
}
@media (min-width: 376px) {
  .wrap {
    width: 400px;
  }

  .footerWrap {
    width: 400px;
  }

  .progressContentWrap {
    width: 400px;
  }
  .progressWrap {
    width: 350px;
  }
}
.wrap {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 130px;
}

.footerWrap {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.progressContentWrap {
  background-color: #fff5da;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.progressWrap {
  margin-top: 50px;
  position: relative;
}

.barWrap {
  margin-bottom: 15px;
}

.barWrap > div:first-child {
  width: 100%;
  height: 10px;
  background-color: white;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
}

.gaugeBar_1,
.gaugeBar_2,
.gaugeBar_3,
.gaugeBar_4,
.gaugeBar_5,
.gaugeBar_6,
.gaugeBar_7,
.gaugeBar_8,
.gaugeBar_9,
.gaugeBar_10,
.gaugeBar_11,
.gaugeBar_12 {
  background-color: #ffc52f;
  height: 10px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}

.gaugeBar_1 {
  width: 0;
}

.gaugeBar_2 {
  width: 9%;
}

.gaugeBar_3 {
  width: 18%;
}

.gaugeBar_4 {
  width: 27%;
}

.gaugeBar_5 {
  width: 36%;
}

.gaugeBar_6 {
  width: 45%;
}

.gaugeBar_7 {
  width: 54%;
}

.gaugeBar_8 {
  width: 63%;
}

.gaugeBar_9 {
  width: 72%;
}

.gaugeBar_10 {
  width: 81%;
}

.gaugeBar_11 {
  width: 90%;
}

.gaugeBar_12 {
  width: 100%;
}

.progressWrap > span {
  color: black;
  font-size: 0.8rem;
}

.progressWrap > span:last-child {
  color: #979797;
  font-size: 0.8rem;
}
