@media (max-width: 375px) {
  .wrap {
    width: 375px;
  }

  .footerWrap {
    width: 375px;
  }
  .loadImgWrap {
    width: 375px;
  }
}
@media (min-width: 376px) {
  .wrap {
    width: 400px;
  }

  .footerWrap {
    width: 400px;
  }
  .loadImgWrap {
    width: 400px;
  }
}
.wrap {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footerWrap {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: white;
}
.loadImgWrap {
  height: 500px;
  padding: 250px 0 350px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadImgWrap > div {
  width: 200px;
}
