.bgWhite {
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
}

.footerWrap {
  width: 400px;
  display: flex;
  justify-content: center;
}
.loadImgWrap {
  width: 400px;
  height: 500px;
  padding-top: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loadImgWrap > div {
  width: 300px;
}
