.wrap {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.loadImgWrap_1 {
  width: 370px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loadImgWrap_1 > div {
  width: 200px;
  margin-top: 200px;
}
