.inline {
  display: inline-block;
}
.marginLeft {
  margin: 0 0.3rem 0 0.3rem;
}
.normal_thumbnail {
  width: 400px;
  height: 15rem;
  background-image: url("../../../public/images/test/card.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.latest_thumbnail {
  width: 125px;
  height: 15rem;
  background-image: url("../../../public/images/test/card.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.normal_titleBox {
  width: 400px;
  height: 2.5rem;
  position: relative;
  top: -2.5rem;
  background-color: #838383;
  opacity: 0.7;
}

.latest_titleBox {
  width: 125px;
  height: 2.5rem;
  position: relative;
  top: -2.5rem;
  background-color: #838383;
  opacity: 0.7;
}


span {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  top: 0.6rem;
  left: 0.5rem;
}
