.inline {
  display: inline-block;
  padding-right: 5px;
  position: relative;
  cursor: pointer;
}
.myPageImgWidth {
  width: 150px;
}

.inline > img {
  width: 370px;
  object-fit: cover;
}

.normal_thumbnail {
  width: 370px;
  height: 15rem;
}

.latest_thumbnail {
  width: 120px !important;
  height: 15rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.normal_titleBox {
  width: 370px;
  height: 2.5rem;
  background-color: black;
  opacity: 0.7;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
}

.latest_titleBox {
  width: 120px;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
}

.test_on_titleBox {
  width: 120px;
  height: 2.5rem;
}

.p_1 {
  color: white;
  font-size: 0.8rem;
  padding-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.p_2 {
  color: black;
  font-size: 0.8rem;
  padding-left: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playCntWrap {
  display: flex;
  flex-direction: row;
}

.plyCntBtn {
  background-image: url('../../../public/images/buttonSet/playCnt.svg');
  width: 15px;
  height: 15px;
  margin: 2px 0 0 2px;
}
.playCntText {
  color: black;
  font-size: 0.8rem;
  padding-left: 3px;
  margin-top: -1px;
}

.test_on_text {
  color: black;
}
