.containerWrap {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.testWrap {
  width: 400px;
  max-width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniTestWrap {
  width: 400px;
  max-width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.latesCardWrap{
  display: flex;
  flex-direction: row;
  align-items: center;
}