@media (max-width: 375px) {
  .wrap {
    width: 100%;
    max-width: 345px;
  }
}
@media (min-width: 376px) {
  .wrap {
    width: 100%;
    max-width: 370px;
  }
}
.wrap {
  color: #979797;
  font-size: 0.7rem;
  background-color: white;
  margin: 30px 0 20px 0;
}

.moveBottom_4 {
  width: 400px;
}

.under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.upper > p:first-child {
  margin-bottom: 5px;
}

.under > a {
  background-image: url('../../../public/images/footer/gitHub.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}
.docs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
.docs > span:first-child {
  margin-right: 10px;
}
.docs p {
  color: #979797;
}
