.wrap {
  width: 100%;
  max-width: 400px;
  height: 200px;
  color: #979797;
  font-size: 0.7rem;
  background-color: white;
}

.moveBottom {

}

.moveBottom_2 {

}

.moveBottom_3 {

}

.moveBottom_4{
  width: 400px;

}

.upper>p {

  
}

.upper>p:last-child {

}

.under {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.under>img {
  width: 1rem;
  height: 1rem;
}

.under>p {

}
