.wrap {
  width: 100%;
  max-width: 370px;
  height: 200px;
  color: #979797;
  font-size: 0.7rem;
  background-color: white;
  margin-top: 50px;
}

.moveBottom_4 {
  width: 400px;
}

.under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.upper > p:first-child {
  margin-bottom: 5px;
}

.under > a {
  background-image: url('../../../public/images/footer/gitHub.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
}
