.modal {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 5rem;
  left: calc(50% - 200px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.modalMoveToRight {
  background-color: RGB(0, 0, 0, 0.5);
  opacity: 1;
}
