.fixedWrap {
  width: 100%;
  max-width: 370px;
  background-color: white;
  z-index: 2;
  height: 5rem;
}

.navWrap {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  z-index: 2;
}

.logoWrap {
  display: flex;
  flex-direction: row;
}

.logoDog {
  width: 5rem;
  height: 5.5rem;
  background-image: url("../../../public/images/navigationBar/logo_dog.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logoTitle {
  width: 7rem;
  height: 5.7rem;
  background-image: url("../../../public/images/navigationBar/logo_title.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.myPageBtn {
  width: 1rem;
  height: 1rem;
  border-style: none;
  background-color: white;
  background-image: url("../../../public/images/navigationBar/user.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menuIcon {
  width: 1rem;
  height: 1rem;
  background-color: white;
  background-image: url("../../../public/images/navigationBar/menuIcon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.menuWrap {
  width: 200px;
  left: calc(50% - 300px);
  transition: left 0.3s ease-in-out;
  opacity: 0;
  z-index: 2;
  border: 1px solid rgb(242, 242, 242);
  background-color: white;
}

ul {
  font-weight: bold;
}

li {
  list-style: none;
  font-size: 0.9rem;
  font-weight: normal;
}

.menuMoveToRight {
  left: calc(50% - 200px);
  top: 5rem;
  opacity: 1;
}

.modal {
  max-width: 400px;
  width: 100%;
  position: absolute;
  top: 5rem;
  left: calc(50% - 200px);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.modalMoveToRight {
  background-color: RGB(0, 0, 0, 0.5);
  opacity: 1;
}

.strokeWrap {
  width: 100%;
}
