.containerWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testCardComplete {
  margin-top: 0.5rem;
}

.titleTextWrap {
  width: 370px;
}

.marginBottom {
  margin-bottom: 2rem;
}
