@media (max-width: 375px) {
  .wrap {
    width: 375px;
  }

  .kakaoLogInBtn {
    width: 100%;
    max-width: 345px;
  }
}
@media (min-width: 376px) {
  .wrap {
    width: 400px;
  }

  .kakaoLogInBtn {
    width: 100%;
    max-width: 370px;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.kakaoLogInBtn {
  height: 3rem;
  background-image: url('../../../public/images/logIn/kakaoLogInBtn.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 120px;
}
.textSamll {
  color: black;
  font-size: 0.8rem;
  margin: 30px 0 10px 0;
}

.textBig {
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.logoText {
  color: #979797;
  font-size: 0.7rem;
  margin-bottom: 110px;
}

.logoImg {
  width: 12rem;
  height: 5rem;
  margin: 50px 0 20px 0;
}

.docs {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: -30px;
}

.docs p {
  width: 5rem;
  color: #979797;
  font-size: 0.7rem;
  font-weight: 400;
}
